<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GOVCERT_Outlook_Addins.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <GOVCERT_Outlook_Addins.MySettings>
            <setting name="SOC_MAIL" serializeAs="String">
                <value>GOVCERT.LU SOC &lt;soc@govcert.etat.lu&gt;</value>
            </setting>
            <setting name="SOC_MAIL_CC" serializeAs="String">
                <value />
            </setting>
            <setting name="SOC_MAIL_BCC" serializeAs="String">
                <value />
            </setting>
            <setting name="SUPPORT_MAIL" serializeAs="String">
                <value>GOVCERT.LU SUPPORT &lt;support@govcert.etat.lu&gt;</value>
            </setting>
            <setting name="GROUP_LABEL" serializeAs="String">
                <value>GOVCERT.LU Tools</value>
            </setting>
            <setting name="SUPERTIP_LABEL" serializeAs="String">
                <value>Reports the mail to GOVCERT.LU and requests an analysis</value>
            </setting>
            <setting name="BTN_LABEL" serializeAs="String">
                <value>Report Mail</value>
            </setting>
            <setting name="INTERESTING_HEADER_FIELDS" serializeAs="String">
                <value>Received,Return-Path,X-PMX-Spam,Authentication-Results,Received-SPF,X-Sender,User-Agent,X-Sender,X-Authenticated-Sender,From</value>
            </setting>
            <setting name="EXCLUDED_HEADER_DOMAIN" serializeAs="String">
                <value>etat.lu</value>
            </setting>
            <setting name="SOC_MAIL_SUBJECT_TAG" serializeAs="String">
                <value>[GC-OBT]</value>
            </setting>
            <setting name="SOC_NEW_MAIL_Subject" serializeAs="String">
                <value>SOC Request</value>
            </setting>
            <setting name="SPAM_TAG" serializeAs="String">
                <value>SPAM</value>
            </setting>
        </GOVCERT_Outlook_Addins.MySettings>
    </applicationSettings>
</configuration>
