<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="MyRules" ToolsVersion="15.0">
  <Include Path="allrules.ruleset" Action="Default" />
  <Include Path="globalizationrules.ruleset" Action="Default" />
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Include Path="securityrules.ruleset" Action="Default" />
</RuleSet>